<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:with="title=パスワード更新">
<head
  th:replace="parts/common :: meta_header(${title},~{::link},~{::script})">
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body class="register-page">
  <div class="register-box">
    <div class="register-logo">
      <th:block th:include="parts/common::logo_box"></th:block>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">パスワード更新</p>
        <p>新しいパスワードを入力してください</p>
        <form class="mb-2"
          th:action="@{/user/forgotpassword/updatepassword}"
          th:object="${forgotpasswordUpdateFormRequest}" method="post">
          <ul th:if="${#fields.hasErrors('notMatchPassword')}">
            <li class="text-danger common-input-error-text"
              th:each="err : ${#fields.errors('notMatchPassword')}"
              th:text="${err}"></li>
          </ul>
          <div class="input-group mb-3">
            <input type="password" name="password"
              class="form-control js-password"
              th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
              placeholder="Password" th:field="*{password}"
              maxlength="30">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <ul th:if="${#fields.hasErrors('password')}">
              <li class="text-danger common-input-error-text"
                th:each="err : ${#fields.errors('password')}"
                th:text="${err}"></li>
            </ul>
          </div>
          <div class="form-group">
            <div class="input-group mb-1">
              <input type="password" name="retypePassword"
                class="form-control"
                th:classappend="${#fields.hasErrors('retypePassword')} ? 'is-invalid'"
                placeholder="Retype Password"
                th:field="*{retypePassword}" maxlength="30">
              <div class="input-group-append">
                <div class="input-group-text text-warning">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <ul th:if="${#fields.hasErrors('retypePassword')}">
              <li class="text-danger common-input-error-text"
                th:each="err : ${#fields.errors('retypePassword')}"
                th:text="${err}"></li>
            </ul>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">登録</button>
            </div>
          </div>
          <input type="hidden" name="authKey" th:field="*{authKey}">
        </form>
      </div>
    </div>
  </div>
  <th:block th:include="parts/common::end_script"></th:block>
  <script th:src="@{/js/input_userinfo.js}"></script>
</body>
</html>