<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.ort/extras/spring-security"
  th:with="title=ユーザ登録・編集">
<head
  th:replace="parts/common :: meta_header(${title},~{::link},~{::script})">
<meta charset="UTF-8" />
<!-- <link rel="stylesheet" th:href="@{/css/page/maintenance_user.css}" /> -->
<!--/* <script type="text/javascript" th:src="@{/js/datepicker.js}"></script> */-->
</head>
<body class="sidebar-mini accent-primary">
  <div class="wrapper">
    <!--/* ヘッダー領域
    ============================== */-->
    <th:block th:replace="parts/main_header.html::content"></th:block>
    <!--/* サイドバー領域
    ============================== */-->
    <th:block th:replace="parts/main_sidebar.html::content"></th:block>
    <!--/* コンテンツ領域
    ============================== */-->
    <div class="content-wrapper">
      <!--/* コンテンツヘッダー
      ============================== */-->
      <th:block th:replace="parts/common.html::content_header(${title})"></th:block>
      <!--/* コンテンツボディ
      ============================== */-->
      <section class="content">
        <div class="container-fluid">
          <!-- /* 検索フォーム
          ==============================*/ -->
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">ユーザ検索</h3>
                </div>
                <form name="searchForm" id="searchForm">
                  <div class="card-body">
                    <!-- /* 入力項目
                      ==============================*/ -->
                    <div class="row">
                      <!-- /* 氏名(姓)
                        ==============================*/ -->
                      <div class="form-group col-md-5 offset-md-1">
                        <div class="row">
                          <div
                            class="col-md-3 d-md-flex align-items-center justify-content-end">
                            <label class="m-0" for="username">氏名(姓)</label>
                          </div>
                          <div class="col-md-9">
                            <input type="text" name="lstNm"
                              class="form-control form-control-border"
                              id="lstNm" placeholder="田中">
                          </div>
                        </div>
                      </div>
                      <!-- /* ユーザID
                        ==============================*/ -->
                      <div class="form-group col-md-5">
                        <div class="row">
                          <div
                            class="col-md-3 d-md-flex align-items-center justify-content-end">
                            <label class="m-0" for="userId">ユーザID</label>
                          </div>
                          <div class="col-md-9">
                            <input type="text" name="userId"
                              class="form-control form-control-border"
                              id="userId" placeholder="userId">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <!-- /* 氏名(名)
                        ==============================*/ -->
                      <div class="form-group col-md-5 offset-md-1">
                        <div class="row">
                          <div
                            class="col-md-3 d-md-flex align-items-center justify-content-end">
                            <label class="m-0" for="telno">氏名(名)</label>
                          </div>
                          <div class="col-md-9">
                            <input type="text" name="fstNm"
                              class="form-control form-control-border"
                              id="fstNm" placeholder="太郎">
                          </div>
                        </div>
                      </div>
                      <!-- /* メールアドレス
                        ==============================*/ -->
                      <div class="form-group col-md-5">
                        <div class="row">
                          <div
                            class="col-md-3 d-md-flex align-items-center justify-content-end">
                            <label class="m-0" for="emailaddr">メール</label>
                          </div>
                          <div class="col-md-9">
                            <input type="email" name="emailaddr"
                              class="form-control form-control-border"
                              id="emailaddr"
                              placeholder="test@example.com">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="card-footer d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary">検索</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>


          <!-- /* 検索結果表示
            ==============================*/ -->
          <div id="searchResult" class="row d-none">
            <div class="col-md-12">
              <div class="card card-secondary">
                <div class="card-header">
                  <h3 class="card-title">検索結果</h3>
                </div>
                <div class="card-body">
                  <div id="userListTable_wrapper"
                    class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                      <div class="col-sm-12">
                        <table id="userListTable"
                          class="table table-bordered table-striped dataTable dtr-inline"
                          role="grid" aria-describedby="user_list">
                          <thead id="theadRender">
                          </thead>
                          <tbody id="tbodyRender">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
      </section>

    </div>
    <!--/* フッター領域
    ============================== */-->
    <th:block th:replace="parts/main_footer.html::content"></th:block>
    <!--/* コントロールサイドバー領域
    ============================== */-->
    <th:block th:replace="parts/control_sidebar.html::content"></th:block>
  </div>
  <th:block th:include="parts/common::end_script"></th:block>
  <script th:src="@{/js/page/maintenance_user.js}"></script>
  <script id="theadTemplate" type="text/x-jsrender">
                            <tr role="row">
                              {{for thList}}
                              <th class="sorting" tabindex="0"
                                aria-controls="userListTable"
                                rowspan="1" colspan="1" aria-label="{{:label}}"
                                aria-sort="ascending">{{:label}}</th>
                              {{/for}}
                            </tr>
                            </script>
  <script id="tbodyTemplate" type="text/x-jsrender">
                            {{for trList}}
                            <tr role="row" class="{{:trClazz}}">
                              {{for tdList}}
                              <td class="{{:tdClazz}}">{{:tdValue}}</td>
                              {{/for}}
                            </tr>
                            {{/for}}
                            </script>

  <script type="text/javascript">
  </script>
</body>
</html>