<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <div>
    <!-- Main Sidebar Container -->
    <aside th:fragment="content()"
      class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="#" class="brand-link"> <img
        th:src="@{/img/log-256×256.png}" alt="Logo"
        class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Management App</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img th:src="@{/img/user-256×256.png}"
              class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block"
              th:text="${commonSession.username}">USER NAME</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2"
          th:each="sidebarGroup : ${commonSession.sidebarModel.sidebarGroup}">
          <ul class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview" th:classappend="${sidebarGroup.active ? 'menu-open' : ''}"><a
              th:href="${sidebarGroup.link}" class="nav-link" th:classappend="${sidebarGroup.active ? 'active' : ''}">
                <i th:classappend="${sidebarGroup.icon}"></i>
                <p>
                  [[${sidebarGroup.name}]]
                  <th:block
                    th:if="${sidebarGroup.sidebarItem.size() > 0}">
                    <i class="right fas fa-angle-left"></i>
                  </th:block>
                </p>
            </a> <th:block th:if="${sidebarGroup.sidebarItem.size() > 0}">
                <ul class="nav nav-treeview">
                  <li
                    th:each="sidebarItem : ${sidebarGroup.sidebarItem}"
                    class="nav-item"><a
                    th:href="${sidebarItem.link}"
                    class="nav-link"  th:classappend="${sidebarItem.active ? 'active' : ''}"> <i
                      th:classappend="${sidebarItem.icon}"></i>
                      <p>[[${sidebarItem.name}]]</p>
                  </a></li>
                </ul></li>
            </th:block>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  </div>
</body>
</html>